root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = false
max_line_length = 120
tab_width = 4

[*.java]
ij_java_space_before_method_parentheses = true
ij_java_else_on_new_line = true
ij_java_catch_on_new_line = true
ij_java_blank_lines_before_method_body = 1
ij_java_keep_indents_on_empty_lines = false

ij_java_doc_align_exception_comments = false
ij_java_doc_align_param_comments = false
ij_java_doc_indent_on_continuation = true
ij_java_doc_add_p_tag_on_empty_lines = false
ij_java_doc_use_throws_not_exception_tag = true
ij_java_doc_param_description_on_new_line = false

ij_java_imports_layout = |, java.**, |, javax.**, |, org.**, |, *, |, $*
ij_java_class_count_to_use_import_on_demand = 10

[.editorconfig]
ij_editorconfig_align_group_field_declarations = false
ij_editorconfig_space_after_colon = false
ij_editorconfig_space_after_comma = true
ij_editorconfig_space_before_colon = false
ij_editorconfig_space_before_comma = false
ij_editorconfig_spaces_around_assignment_operators = true

[*.yml]
indent_size = 2